<h1>Your Task Lists</h1>

<%= render 'form', task_list: @task_list %>

<ul>
  <% @task_lists.each do |task_list| %>
    <li>
      <div>
        <%=link_to task_list.name, task_list_path(task_list)%>
        <%= button_to "Delete", task_list_path(task_list), method: :delete, data: {turbo_confirm: "Are you sure?"}%>
      </div>
    </li>
  <% end %>
</ul>
